body{
    color: rgb(186, 14, 186);
    background-color: rgb(251, 140, 251);
}
.black{
    width: 200px ;
    height: 30px;
    float: left;    
    margin: -15px 0;
    box-shadow: 10px 10px;
    margin-bottom: 1px;
    border-radius: 10%;
    background-color: #000000;
}
.white{
    width: 300px ;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
}
.white:hover{
    box-shadow: 10px 10px;
}
div:hover{
    background:linear-gradient(#6c6a6a , #fff);
    color: rgb(242, 242, 244);  
}
div{
    color: rgb(251, 140, 251);
  }
.black:hover{
    box-shadow: 10px 10px;
    background:linear-gradient(#6c6a6a , #000)
}

    .letters{
      float: right;
      margin: -20px;
    }